body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Кастомный скроллбар */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background-color: #b30000;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ff1a1a;
}